.employee_field {
    margin-top: 1rem;
    margin-inline: auto;
    display: block;
    border-radius: 10rem;
    width: 25%;
    padding: 10px;
    font-size: large;
}


.employee_button {
    margin-top: 1rem;
    margin-inline : 1rem;
    width: 20%;
    padding: 10px;
    box-shadow: 10px;
    display: inline-block;
    border-radius: 10rem;
    font-size: large;
}

.employee_submit {
    color: green;
    border: 3px solid green;
}

.employee_submit:hover {
    color: white;
    background-color: green;
}

.employee_delete {
    color: red;
    border: 3px solid red;
}

.employee_delete:hover {
    color: white;
    background-color: red;
}